[7:21 PM] Khan, Omer Ahmed
[Ll]ibrary/

[Tt]emp/

[Oo]bj/

[Bb]uild/

[Bb]uilds/

[Ll]ogs/

[Uu]ser[Ss]ettings/

*.pidb

*.suo

*.tmp

*.bak

*.unityproj

*.pdb

*.mdb

*.opendb

*.VC.db

*.pidb.meta
